<ion-content class="add-expense-content">
  <div class="form-wrapper">

    <ion-header class="back-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <h1 class="page-title">Expense Details</h1>
    <hr class="divider" />

    <ion-item lines="inset">
      <ion-label position="floating">Expense</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
    </ion-item>

    <ion-button expand="block" class="add-btn" (click)="addExpense()">Add</ion-button>
  </div>
</ion-content>
